APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:E0RwVjZjrr51I9O8fK5RR9VMhRx6/NONvsD8WZIQv4k=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=larvarel
DB_USERNAME=root
DB_PASSWORD=Vinh@123456


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=fosher50@gmail.com
MAIL_PASSWORD="vyhl yjad rlca zmyi"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=fosher50@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_CLIENT_ID=ATI75d7AcglcoVbhaeMRSnwVkEO9g3-nVH31SjswAyigFPKtMaCwik2xc7BzXEvKll2E9VtZIWRNnqVt
PAYPAL_SANDBOX_CLIENT_SECRET=EAW2gGj8kPaWx8d2uzq9dCubkqPsvtbgCDYU6n4VkfjeTvu5FwPGtZlr8-mzrF68Ov1m6S_HlUWv4QVG
PAYPAL_PAYMENT_ACTION=Sale
PAYPAL_CURRENCY=USD
PAYPAL_NOTIFY_URL=https://yourdomain.com/paypal/notify
PAYPAL_LOCALE=en_US
PAYPAL_VALIDATE_SSL=true